<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandalen.water.dao.ErrRecordMapper" >
  <resultMap id="BaseResultMap" type="com.sandalen.water.bean.ErrRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="emergency" property="emergency" jdbcType="INTEGER" />
    <result column="charger_id" property="chargerId" jdbcType="VARCHAR" />
    <result column="charger_name" property="chargerName" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="INTEGER" />
    <result column="serious_factor" property="seriousFactor" jdbcType="VARCHAR" />
    <result column="is_solve" property="isSolve" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, record_id, title, emergency, charger_id, charger_name, origin, serious_factor, 
    is_solve, create_time, sid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sandalen.water.bean.ErrRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from err_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from err_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from err_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sandalen.water.bean.ErrRecordExample" >
    delete from err_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sandalen.water.bean.ErrRecord" >
    insert into err_record (id, record_id, title, 
      emergency, charger_id, charger_name, 
      origin, serious_factor, is_solve, 
      create_time, sid)
    values (#{id,jdbcType=INTEGER}, #{recordId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{emergency,jdbcType=INTEGER}, #{chargerId,jdbcType=VARCHAR}, #{chargerName,jdbcType=VARCHAR}, 
      #{origin,jdbcType=INTEGER}, #{seriousFactor,jdbcType=VARCHAR}, #{isSolve,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{sid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sandalen.water.bean.ErrRecord" >
    insert into err_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="emergency != null" >
        emergency,
      </if>
      <if test="chargerId != null" >
        charger_id,
      </if>
      <if test="chargerName != null" >
        charger_name,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="seriousFactor != null" >
        serious_factor,
      </if>
      <if test="isSolve != null" >
        is_solve,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sid != null" >
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="emergency != null" >
        #{emergency,jdbcType=INTEGER},
      </if>
      <if test="chargerId != null" >
        #{chargerId,jdbcType=VARCHAR},
      </if>
      <if test="chargerName != null" >
        #{chargerName,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=INTEGER},
      </if>
      <if test="seriousFactor != null" >
        #{seriousFactor,jdbcType=VARCHAR},
      </if>
      <if test="isSolve != null" >
        #{isSolve,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sandalen.water.bean.ErrRecordExample" resultType="java.lang.Integer" >
    select count(*) from err_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update err_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.recordId != null" >
        record_id = #{record.recordId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.emergency != null" >
        emergency = #{record.emergency,jdbcType=INTEGER},
      </if>
      <if test="record.chargerId != null" >
        charger_id = #{record.chargerId,jdbcType=VARCHAR},
      </if>
      <if test="record.chargerName != null" >
        charger_name = #{record.chargerName,jdbcType=VARCHAR},
      </if>
      <if test="record.origin != null" >
        origin = #{record.origin,jdbcType=INTEGER},
      </if>
      <if test="record.seriousFactor != null" >
        serious_factor = #{record.seriousFactor,jdbcType=VARCHAR},
      </if>
      <if test="record.isSolve != null" >
        is_solve = #{record.isSolve,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update err_record
    set id = #{record.id,jdbcType=INTEGER},
      record_id = #{record.recordId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      emergency = #{record.emergency,jdbcType=INTEGER},
      charger_id = #{record.chargerId,jdbcType=VARCHAR},
      charger_name = #{record.chargerName,jdbcType=VARCHAR},
      origin = #{record.origin,jdbcType=INTEGER},
      serious_factor = #{record.seriousFactor,jdbcType=VARCHAR},
      is_solve = #{record.isSolve,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      sid = #{record.sid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandalen.water.bean.ErrRecord" >
    update err_record
    <set >
      <if test="recordId != null" >
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="emergency != null" >
        emergency = #{emergency,jdbcType=INTEGER},
      </if>
      <if test="chargerId != null" >
        charger_id = #{chargerId,jdbcType=VARCHAR},
      </if>
      <if test="chargerName != null" >
        charger_name = #{chargerName,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=INTEGER},
      </if>
      <if test="seriousFactor != null" >
        serious_factor = #{seriousFactor,jdbcType=VARCHAR},
      </if>
      <if test="isSolve != null" >
        is_solve = #{isSolve,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandalen.water.bean.ErrRecord" >
    update err_record
    set record_id = #{recordId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      emergency = #{emergency,jdbcType=INTEGER},
      charger_id = #{chargerId,jdbcType=VARCHAR},
      charger_name = #{chargerName,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=INTEGER},
      serious_factor = #{seriousFactor,jdbcType=VARCHAR},
      is_solve = #{isSolve,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sid = #{sid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>