<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandalen.water.dao.MsgMapper" >
  <resultMap id="BaseResultMap" type="com.sandalen.water.bean.Msg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="postId" property="postid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="imgList" property="imglist" jdbcType="VARCHAR" />
    <result column="isEmergency" property="isemergency" jdbcType="INTEGER" />
    <result column="isReviewd" property="isreviewd" jdbcType="INTEGER" />
    <result column="postTime" property="posttime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, postId, title, content, imgList, isEmergency, isReviewd, postTime, type, uid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sandalen.water.bean.MsgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sandalen.water.bean.MsgExample" >
    delete from msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sandalen.water.bean.Msg" >
    insert into msg (id, postId, title, 
      content, imgList, isEmergency, 
      isReviewd, postTime, type, 
      uid)
    values (#{id,jdbcType=INTEGER}, #{postid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{imglist,jdbcType=VARCHAR}, #{isemergency,jdbcType=INTEGER}, 
      #{isreviewd,jdbcType=INTEGER}, #{posttime,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sandalen.water.bean.Msg" >
    insert into msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postid != null" >
        postId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="imglist != null" >
        imgList,
      </if>
      <if test="isemergency != null" >
        isEmergency,
      </if>
      <if test="isreviewd != null" >
        isReviewd,
      </if>
      <if test="posttime != null" >
        postTime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imglist != null" >
        #{imglist,jdbcType=VARCHAR},
      </if>
      <if test="isemergency != null" >
        #{isemergency,jdbcType=INTEGER},
      </if>
      <if test="isreviewd != null" >
        #{isreviewd,jdbcType=INTEGER},
      </if>
      <if test="posttime != null" >
        #{posttime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sandalen.water.bean.MsgExample" resultType="java.lang.Integer" >
    select count(*) from msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update msg
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.postid != null" >
        postId = #{record.postid,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.imglist != null" >
        imgList = #{record.imglist,jdbcType=VARCHAR},
      </if>
      <if test="record.isemergency != null" >
        isEmergency = #{record.isemergency,jdbcType=INTEGER},
      </if>
      <if test="record.isreviewd != null" >
        isReviewd = #{record.isreviewd,jdbcType=INTEGER},
      </if>
      <if test="record.posttime != null" >
        postTime = #{record.posttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update msg
    set id = #{record.id,jdbcType=INTEGER},
      postId = #{record.postid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      imgList = #{record.imglist,jdbcType=VARCHAR},
      isEmergency = #{record.isemergency,jdbcType=INTEGER},
      isReviewd = #{record.isreviewd,jdbcType=INTEGER},
      postTime = #{record.posttime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sandalen.water.bean.Msg" >
    update msg
    <set >
      <if test="postid != null" >
        postId = #{postid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imglist != null" >
        imgList = #{imglist,jdbcType=VARCHAR},
      </if>
      <if test="isemergency != null" >
        isEmergency = #{isemergency,jdbcType=INTEGER},
      </if>
      <if test="isreviewd != null" >
        isReviewd = #{isreviewd,jdbcType=INTEGER},
      </if>
      <if test="posttime != null" >
        postTime = #{posttime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sandalen.water.bean.Msg" >
    update msg
    set postId = #{postid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      imgList = #{imglist,jdbcType=VARCHAR},
      isEmergency = #{isemergency,jdbcType=INTEGER},
      isReviewd = #{isreviewd,jdbcType=INTEGER},
      postTime = #{posttime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="MsgMap" type="com.sandalen.water.bean.Msg">
    <id column="postId" property="postid" jdbcType="VARCHAR"></id>
    <result column="title" property="title" jdbcType="VARCHAR"></result>
    <result column="content" property="content" jdbcType="VARCHAR"></result>
    <result column="imgList" property="imglist" jdbcType="VARCHAR"></result>
    <result column="isEmergency" property="isemergency" jdbcType="INTEGER"></result>
    <result column="postTime" property="posttime" jdbcType="TIMESTAMP"></result>
    <result column="type" property="type" jdbcType="VARCHAR"></result>
    <result column="isReviewed" property="isreviewd" jdbcType="INTEGER"></result>
    <association property="userinfo" javaType="com.sandalen.water.bean.Userinfo">
      <result column="uid" property="uid" jdbcType="VARCHAR"></result>
      <result column="uname" property="name" jdbcType="VARCHAR"></result>
      <result column="avatar" property="avatar" jdbcType="VARCHAR"></result>
      <result column="descr" property="descr" jdbcType="VARCHAR"></result>
    </association>
  </resultMap>

  <select id="getUnReviewMsg" resultMap="MsgMap">
    select m.postId as postId,m.title as title,m.content as content,m.imgList as imgList,m.isEmergency as isEmergency,m.postTime as postTime,m.type as type,ui.uid as uid,ui.name as uname,ui.avatar as avatar,ui.descr as descr from msg m,userinfo ui where m.isReviewd = 0 and m.uid = ui.uid order by m.postTime desc ;
  </select>

  <select id="getUnReviewMsgDetail" resultMap="MsgMap" parameterType="java.lang.String">
    select m.postId as postId,m.title as title,m.content as content,m.imgList as imgList,m.isEmergency as isEmergency,m.postTime as postTime,m.type as type,m.isReviewd as isReviewed,ui.uid as uid,ui.name as uname,ui.avatar as avatar,ui.descr as descr from msg m,userinfo ui where m.postId = #{id} and m.uid = ui.uid;
  </select>

  <select id="getReadableMsgDetail" resultMap="MsgMap" parameterType="java.lang.Integer">
    select m.postId as postId,m.id as mid,m.title as title,m.content as content,m.imgList as imgList,m.isEmergency as isEmergency,m.postTime as postTime,m.type as type,ui.uid as uid,ui.name as uname,ui.avatar as avatar,ui.descr as descr from msg m,userinfo ui where m.id = #{id} and m.isReviewd = 1 and m.uid = ui.uid;
  </select>

  <select id="getReadableMsg" resultMap="MsgMap">
    select m.postId as postId,m.title as title,m.content as content,m.imgList as imgList,m.isEmergency as isEmergency,m.postTime as postTime,m.type as type,ui.uid as uid,ui.name as uname,ui.avatar as avatar,ui.descr as descr from msg m,userinfo ui where m.isReviewd = 1 and m.uid = ui.uid order by m.postTime desc;
  </select>
</mapper>